<!DOCTYPE html>
<html lang="en" >
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Success TimeTable Management</title >
</head >
<body >

<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<div class="row bg-link" >
  <div class="col-4" >

  </div >
  <div class="col-4" >
    <h1 >Time Table Management</h1 >
  </div >
  <div class="col-4" >
    <a href="/timeTable/add" >
      <button class="btn btn-primary" align="center" >New Time</button >
    </a >
  </div >
</div >
<div class="container-fluid" >
  <!--batch details-->
  <div class="row mb-2" >
    <div class="container-fluid" >
      <div class="row" >
        <div class="col text-center" >
          <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample5" role="button"
             aria-expanded="false" aria-controls="multiCollapseExample5" >Batch Detail</a >
        </div >
      </div >
      <div class="row" >
        <div class="col-12" >
          <div class="collapse multi-collapse" id="multiCollapseExample5" >
            <div class="card card-body" >
              <div data-th-replace="~{batch/batch-detail :: batchDetailsFragment}" ></div >
            </div >
          </div >
        </div >
      </div >
    </div >
  </div >
  <!--Time Table create-->
  <div class="row mb-2" >
    <form >
      <div class="container-fluid" >
        <div class="row" >
          <div class="form-group" >
            <label for="subject" >Subject : </label >
            <select type="text" name="" id="subject" class="form-control" required >
              <option value="" >Please Choose</option >
              <option data-th-each="subject : ${subjects}"
                      data-th-value="${subject.id}"
                      data-th-text="${subject.name}" ></option >
            </select >
          </div >
          <div class="form-group" >
            <label for="lesson" >Lesson : </label >
            <input type="text" name="" id="lesson" class="form-control" placeholder="" required >
          </div >
          <div class="form-group" >
            <label for="slotStartDate" >Start Date Time At : </label >
            <div class="form-inline" >
              <input type="date" name="" id="slotStartDate" class="form-control" placeholder="" required >
              <input type="time" name="" id="slotStartTime" min="08:00" max="17:00" step="900" class="form-control"
                     placeholder="" required >
            </div >
          </div >
          <div class="form-group" >
            <label for="slotEndTime" >End At : </label >
            <div class="form-inline" >
              <input type="time" name="" id="slotEndTime" min="08:00" max="17:00" step="900" class="form-control"
                     placeholder="" required >
            </div >
          </div >
          <div class="form-group" >
            <label for="slotEnd" class="mt-2" ></label >
            <br >
            <button type="submit" id="btnAdd" class="btn btn-info mt-5 ml-2" >Add</button >
          </div >
        </div >
      </div >
    </form >
  </div >
  <form action="/timeTable/save" data-th-object="${batch}" method="post" >
    <p class="text-center h3" > Selected Time Slot</p >
    <div class="container-fluid" >
      <table class="table table-hover" id="timeTable" >
        <tr >
          <th >Index</th >
          <th >Batch Name</th >
          <th >Subject Name</th >
          <th >Lesson</th >
          <th >Start At</th >
          <th >End At</th >
          <th >Activity</th >
          <th >Comment</th >
          <th >Modify</th >
        </tr >
        <tr data-th-each="batch, index : ${batchDetail.timeTables}" >
          <th data-th-if="${!addStatus}" data-th-text="${index.count}" ></th >
          <th data-th-if="${!addStatus}" >
            <input type="text" class="form-control" data-th-name="${'batches.timeTables[__${index.index}__].code'}"
                   data-th-value="${batches.timeTables[__${index.index}__].code}" required
                   readonly >
            <input type="text" class="form-control" data-th-name="${'batches.timeTables[__${index.index}__].id'}"
                   data-th-value="${batches.timeTables[__${index.index}__].id}" required
                   readonly >
          </th >
          <th >
            <input type="text" class="form-control"
                   data-th-value="${batches.timeTables[__${index.index}__].batch.name}" required readonly >
            <input type="hidden" class="form-control" data-th-name="${'timeTables[__${index.index}__].batch.id'}"
                   data-th-value="${batches.timeTables[__${index.index}__].batch.id}" required readonly >
          </th >
          <th >
            <input type="text" class="form-control"
                   data-th-value="${batches.timeTables[__${index.index}__].batch.count}" required
                   readonly >
          </th >
          <th >
            <input type="text" class="form-control" data-th-name="${'timeTables[__${index.index}__].lesson'}"
                   data-th-value="${batches.timeTables[__${index.index}__].lesson}" required >
          </th >
          <th >
            <input type="datetime-local" class="form-control startAt"
                   data-th-id="${'sAt'+index.index}"
                   data-th-name="${'timeTables[__${index.index}__].startAt'}"
                   data-th-value="${batches.timeTables[__${index.index}__].startAt}" required >
          </th >
          <th >
            <input type="datetime-local" class="form-control endAt"
                   data-th-id="${'eAt'+index.index}"
                   data-th-name="${'timeTables[__${index.index}__].endAt'}"
                   data-th-value="${batches.timeTables[__${index.index}__].endAt}" required >
          </th >

          <th data-th-if="${!addStatus}" >
            <div class="col" >
              <div class="custom-control custom-checkbox custom-control-inline "
                   data-th-each="liveDead : ${liveDeads}" >
                <input class="custom-control-input" required
                       data-th-name="${'timeTables[__${index.index}__].liveDead'}"
                       data-th-value="${liveDead}"
                       data-th-id="${index.index}+${liveDead}" type="radio"
                       data-th-checked="${liveDead==batches.timeTables[__${index.index}__].liveDead}" />
                <label class="custom-control-label"
                       data-th-for="${index.index}+${liveDead}"
                       data-th-text="${liveDead.liveDead}" > radio
                </label >
              </div >
            </div >
          </th >
          <th data-th-if="${!addStatus}" >
            <input type="text" class="form-control"
                   data-th-name="${'timeTables[__${index.index}__].remark'}"
                   data-th-value="${batches.timeTables[__${index.index}__].remark}" required >
          </th >
        </tr >
      </table >
    </div >
    <!--Button-->
    <div class="form-batch col-md-12 col-sm-12 text-center flex-column " >
      <button class="btn btn-success" tabindex="21" type="submit" >
        <i class="fa fa-save " style="font-size: 20px" ></i >&nbsp; &nbsp;<span
            data-th-text="${addStatus==true?'Save': 'Update'}"
            id="submit" ></span >
      </button >
    </div >
  </form >
</div >

<input type="hidden" data-th-value="${batchDetail.name}" id="batchName" >
<input type="hidden" data-th-value="${batchDetail.startAt}" id="batchStartAt" >
<input type="hidden" data-th-value="${batchDetail.endAt}" id="batchEndAt" >
<input type="hidden" data-th-value="${batchDetail.id}" id="batchId" >

<!--footer is included-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script is included-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >
<script >
    $(document).ready(function () {
        $('[type="date"]').prop('min', function () {
            return new Date().toJSON().split('T')[0];
        });
        let startDate = $("#batchStartAt").val();
        let endDate = $("#batchEndAtAt").val();
        $("#slotStartDate").attr('min', startDate).attr('max', endDate);


    });
    $("#slotStartTime, #slotEndTime").change(function () {
        let slotStartDate = $("#slotStartDate").val();

        let startTime = $("#slotStartTime").val();
        let endTime = $("#slotEndTime").val();
        if (startTime && endTime) {
            let startDateTime = slotStartDate + "T" + startTime;
            let endDateTime = slotStartDate + "T" + endTime;

            if (Date.parse(startDateTime) > Date.parse(endDateTime)) {
                swal({
                    title: "Could you accept this time period.. !",
                    icon: "warning",
                });
                $("#slotStartTime").addClass("bg-warning");
                $("#slotEndTime").addClass("bg-warning");
            } else {
                $("#slotStartTime").removeClass("bg-warning");
                $("#slotEndTime").removeClass("bg-warning");
            }
        }
    })

    let timeTableSlots = [];

    $("#btnAdd").click(function () {
        let subjectId = $("#subject").val();
        let selectedItemId = `#subject option[value='${subjectId}']`;
        let subjectName = $(selectedItemId).html();
        let lesson = $("#lesson").val();
        let slotStartDate = $("#slotStartDate").val();
        let startTime = slotStartDate + "T" + $("#slotStartTime").val();
        let endTime = slotStartDate + "T" + $("#slotEndTime").val();
        let batchName = $("#batchName").val();
        let batchId = $("#batchId").val();
        console.log(subjectId + " dd  " + " dds  " + subjectName + " sas " + lesson + " le " + startTime + " sta " + " ed " + endTime)
        if (subjectId && subjectName && lesson && startTime && endTime && batchName && batchId) {
            let timeTableSlot = {};
            timeTableSlot.batch_id = batchId;
            timeTableSlot.batch_name = batchName;
            timeTableSlot.subject_id = subjectId;
            timeTableSlot.subject_name = subjectName;
            timeTableSlot.lesson = lesson;
            timeTableSlot.start_at = startTime;
            timeTableSlot.end_at = endTime;
            timeTableSlot.activity = 'ACTIVE';
            timeTableSlots.push(timeTableSlot);
            tableRowAdd();
        } else {
            swal({
                icon: "warning",
                text: "Please enter all data before click this button",
            });

        }
    });

    function tableRowAdd() {
        const sortedTimeTableSlots = timeTableSlots.sort((a, b) => b.start_at - a.start_at)
        console.log(timeTableSlots);
        console.log(sortedTimeTableSlots);
    }

    /* swal({
         title: `${date}`,
         icon: "warning",
         text: "There is no registered batches to add time table on .. !",
         buttons: {
             text: "Go to Date",
         },
     }).then((value) => {
         if (value) {
             // location.replace(document.location.origin + '/timeTable/add')
         }
     });*/
</script >
</body >
</html >
