<!DOCTYPE html>
<html lang="en" >
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Success TimeTable Management</title >
</head >
<body >

<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<div class="row bg-link" >
  <div class="col-4" >

  </div >
  <div class="col-4" >
    <h1 >Time Table Management</h1 >
  </div >
  <div class="col-4" >
    <a href="/timeTable/add" >
      <button class="btn btn-primary" align="center" >New Time</button >
    </a >
  </div >
</div >
<div class="container-fluid" >
  <!--batch details-->
  <div class="row mb-2" >
    <div class="container-fluid" >
      <div class="row" >
        <div class="col text-center" >
          <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample5" role="button"
             aria-expanded="false" aria-controls="multiCollapseExample5" >Batch Detail</a >
        </div >
      </div >
      <div class="row" >
        <div class="col-12" >
          <div class="collapse multi-collapse" id="multiCollapseExample5" >
            <div class="card card-body" >
              <div data-th-replace="~{batch/batch-detail :: batchDetailsFragment}" ></div >
            </div >
          </div >
        </div >
      </div >
    </div >
  </div >
  <!--Time Table create-->
  <div class="row mb-2" >
    <div class="container-fluid" >
      <div class="row" >
        <div class="form-group" >
          <label for="subject" >Subject : </label >
          <select type="text" name="" id="subject" class="form-control" required >
            <option value="" >Please Choose</option >
            <option data-th-each="subject : ${subjects}"
                    data-th-value="${subject.id}"
                    data-th-text="${subject.name}" ></option >
          </select >
        </div >
        <div class="form-group" >
          <label for="lesson" >Lesson : </label >
          <input type="text" name="" id="lesson" class="form-control" placeholder="" required >
        </div >
        <div class="form-group" >
          <label for="slotStartDate" >Start Date Time At : </label >
          <div class="form-inline" >
            <input type="date" name="" id="slotStartDate" class="form-control" data-th-value="${date}" placeholder="" required readonly>
            <input type="time" name="" id="slotStartTime" min="08:00" max="17:00" step="900" class="form-control"
                   placeholder="" required >
          </div >
        </div >
        <div class="form-group" >
          <label for="slotEndTime" >End At : </label >
          <div class="form-inline" >
            <input type="time" name="" id="slotEndTime" min="08:00" max="17:00" step="900" class="form-control"
                   placeholder="" required >
          </div >
        </div >
        <div class="form-group" >
          <label for="btnAdd" class="mt-2" ></label >
          <br >
          <button id="btnAdd" class="btn btn-info mt-5 ml-2" >Add</button >
        </div >
      </div >
    </div >
  </div >
</div >
<div class="row" >
  <form action="/timeTable/save" data-th-object="${batch}" method="post" >
    <p class="text-center h3" > Selected Time Slot</p >
    <div class="w-auto" >
      <table class="table table-hover w-auto" id="timeTableSlotsList" >
        <tr >
          <th >Index</th >
          <th >Batch Name</th >
          <th >Subject Name</th >
          <th >Lesson</th >
          <th >Start At</th >
          <th >End At</th >
          <th >Activity</th >
          <th >Comment</th >
          <th >Modify</th >
        </tr >
        <tr data-th-each="timeTable, index : ${batchDetail.timeTables}" >
          <th ><span data-th-id="${'id'+index.index }" data-th-text="${index.count}" ></span ></th >
          <th data-th-if="${!addStatus}" >
            <input type="text" class="form-control" data-th-name="${'batches.timeTables[__${index.index}__].code'}"
                   data-th-value="${batches.timeTables[__${index.index}__].code}" required
                   readonly >
            <input type="text" class="form-control" data-th-name="${'batches.timeTables[__${index.index}__].id'}"
                   data-th-value="${batches.timeTables[__${index.index}__].id}" required
                   readonly >
          </th >
          <th >
            <input type="text" class="form-control"
                   data-th-value="${timeTable.batch.name}" required readonly >
            <input type="hidden" class="form-control" data-th-name="${'timeTables[__${index.index}__].batch.id'}"
                   data-th-value="${timeTable.batch.id}" required readonly >
          </th >
          <th >
            <input type="text" class="form-control"
                   data-th-value="${timeTable.batch.count}" required
                   readonly >
          </th >
          <th >
            <input type="text" class="form-control" data-th-name="${'timeTables[__${index.index}__].lesson'}"
                   data-th-value="${timeTable.lesson}" required >
          </th >
          <th >
            <input type="datetime-local" class="form-control startAt"
                   data-th-id="${'sAt'+index.index}"
                   data-th-name="${'timeTables[__${index.index}__].startAt'}"
                   data-th-value="${timeTable.startAt}" required >
          </th >
          <th >
            <input type="datetime-local" class="form-control endAt"
                   data-th-id="${'eAt'+index.index}"
                   data-th-name="${'timeTables[__${index.index}__].endAt'}"
                   data-th-value="${timeTable.endAt}" required >
          </th >

          <th data-th-if="${!addStatus}" >
            <div class="col" >
              <div class="custom-control custom-checkbox custom-control-inline "
                   data-th-each="liveDead : ${liveDeads}" >
                <input class="custom-control-input" required
                       data-th-name="${'timeTables[__${index.index}__].liveDead'}"
                       data-th-value="${liveDead}"
                       data-th-id="${index.index}+${liveDead}" type="radio"
                       data-th-checked="${liveDead==timeTable.liveDead}" />
                <label class="custom-control-label"
                       data-th-for="${index.index}+${liveDead}"
                       data-th-text="${liveDead.liveDead}" > radio
                </label >
              </div >
            </div >
          </th >
          <th data-th-if="${!addStatus}" >
            <input type="text" class="form-control"
                   data-th-name="${'timeTables[__${index.index}__].remark'}"
                   data-th-value="${timeTable.remark}" required >
          </th >
        </tr >
      </table >
    </div >
    <!--Button-->
    <div class="form-batch col-md-12 col-sm-12 text-center flex-column " >
      <button id="submit" class="btn btn-success" tabindex="21" type="submit" >
        <i class="fa fa-save " style="font-size: 20px" ></i >&nbsp; &nbsp;<span
            data-th-text="${addStatus==true?'Save': 'Update'}"
      ></span >
      </button >
    </div >
  </form >
</div >

<input type="hidden" data-th-value="${batchDetail.name}" id="batchName" >
<input type="hidden" data-th-value="${batchDetail.startAt}" id="batchStartAt" >
<input type="hidden" data-th-value="${batchDetail.endAt}" id="batchEndAt" >
<input type="hidden" data-th-value="${batchDetail.id}" id="batchId" >

<!--footer is included-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script is included-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >
<script >

    let timeTableSlots = [];

    $(document).ready(function () {
        $('[type="date"]').prop('min', function () {
            return new Date().toJSON().split('T')[0];
        });
        let startDate = $("#batchStartAt").val();
        let endDate = $("#batchEndAtAt").val();
        $("#slotStartDate").attr('min', startDate).attr('max', endDate);

        if ($("#timeTableSlotsList").val()) {
            console.log("asdasd")
        }

    });

    $('[type="datetime-local"]').prop('min', function () {
        return new Date();
    });

    $("#slotStartTime, #slotEndTime").change(function () {
        let slotStartDate = $("#slotStartDate").val();

        let startTime = $("#slotStartTime").val();
        let endTime = $("#slotEndTime").val();
        if (startTime && endTime) {
            let startDateTime = slotStartDate + "T" + startTime;
            let endDateTime = slotStartDate + "T" + endTime;

            if (Date.parse(startDateTime) >= Date.parse(endDateTime)) {
                swal({
                    title: "Could you accept this time period.. !",
                    icon: "warning",
                });
                $("#slotStartTime").addClass("bg-warning");
                $("#slotEndTime").addClass("bg-warning");
            } else {
                $("#slotStartTime").removeClass("bg-warning");
                $("#slotEndTime").removeClass("bg-warning");
            }
        }
    })

    function timeSlotLengthCheck() {
        let slotStartDate = $("#slotStartDate").val();

        let startTime = $("#slotStartTime").val();
        let endTime = $("#slotEndTime").val();
        if (startTime && endTime) {
            let startDateTime = slotStartDate + "T" + startTime;
            let endDateTime = slotStartDate + "T" + endTime;
            console.log(Date.parse(endDateTime) - Date.parse(startDateTime))
            if ((Date.parse(endDateTime) - Date.parse(startDateTime)) < 900000) {
                swal({
                    title: "Could you accept this time period.. \n at least 15 min need to for one period!",
                    icon: "warning",
                });
                $("#slotStartTime").addClass("bg-warning");
                $("#slotEndTime").addClass("bg-warning");
                return false;
            } else {
                $("#slotStartTime").removeClass("bg-warning");
                $("#slotEndTime").removeClass("bg-warning");
                return true;
            }
        }
    }


    function addFromValueRemove() {
        $("#subject").val('');
        $("#lesson").val('');
        $("#slotStartDate").val('');
        $("#slotEndTime").val('');
        $("#slotStartTime").val('');
    }

    $("#btnAdd").click(function () {
        if (timeSlotLengthCheck()) {
            let subjectId = $("#subject").val();
            let selectedItemId = `#subject option[value='${subjectId}']`;
            let subjectName = $(selectedItemId).html();
            let lesson = $("#lesson").val();
            let slotStartDate = $("#slotStartDate").val();
            let slotStartTime = $("#slotStartTime").val();
            let startTime = slotStartDate + "T" + slotStartTime;
            let slotEndTime = $("#slotEndTime").val();
            let endTime = slotStartDate + "T" + slotEndTime;
            let batchName = $("#batchName").val();
            let batchId = $("#batchId").val();
            if (subjectId && subjectName && lesson && startTime && endTime && batchName && batchId && slotStartTime && slotEndTime) {
                let timeTableSlot = {};
                timeTableSlot.batch_id = batchId;
                timeTableSlot.batch_name = batchName;
                timeTableSlot.subject_id = subjectId;
                timeTableSlot.subject_name = subjectName;
                timeTableSlot.lesson = lesson;
                timeTableSlot.start_at = startTime;
                timeTableSlot.end_at = endTime;
                timeTableSlot.activity = 'ACTIVE';
                timeTableSlots.push(timeTableSlot);
                tableRowAdd();
                addFromValueRemove();
            } else {
                swal({
                    icon: "warning",
                    text: "Please enter all data before click this button",
                });

            }
        }
    });

    function tableRowAdd() {
        deleteAllTableRow(timeTableSlotsList)

        const sortedTimeTableSlots = timeTableSlots.sort((a, b) => Date.parse(b.start_at) - Date.parse(a.start_at))
        let tableRows = '';

        for (let i = 0; i < sortedTimeTableSlots.length; i++) {
            tableRows += makeTableRow(i, sortedTimeTableSlots[i]);
        }

        $("#timeTableSlotsList tr:last").after(tableRows);

        allTimeTableSlotValidate();

    }


    function allTimeTableSlotValidate() {
        const sortedTimeTableSlots = timeTableSlots.sort((a, b) => Date.parse(b.start_at) - Date.parse(a.end_at))
        if (sortedTimeTableSlots.length > 1) {
            for (let i = 1; i < sortedTimeTableSlots.length; i++) {
                console.log("en  " + sortedTimeTableSlots[i].end_at + "  st " + sortedTimeTableSlots[i - 1].start_at)

//todo : stuck here
                let sda = Date.parse(sortedTimeTableSlots[i - 1].start_at) < Date.parse(sortedTimeTableSlots[i].end_at);
                console.log(sda + ' sssssss')
                let ada = Date.parse(sortedTimeTableSlots[i - 1].end_at) > Date.parse(sortedTimeTableSlots[i].start_at);
                console.log(ada + ' fffff')
                let batterylow = sda && ada;
                console.log('exce ' + batterylow)

                let thee= Date.parse(sortedTimeTableSlots[i - 1].start_at) < Date.parse(sortedTimeTableSlots[i].end_at)> Date.parse(sortedTimeTableSlots[i].start_at);
                console.log(" rterter "+thee)

                if ((Date.parse(sortedTimeTableSlots[i - 1].end_at) < Date.parse(sortedTimeTableSlots[i].start_at)) && (Date.parse(sortedTimeTableSlots[i - 1].start_at) > Date.parse(sortedTimeTableSlots[i].start_at))) {
                    $(`#timeTableSlotsList tr:eq(${i})`).addClass("bg-warning");
                    $(`#timeTableSlotsList tr:eq(${i + 1})`).addClass("bg-warning");
                    $("#submit").hide();
                    setTimeout(function () {
                        swal({
                            icon: "warning",
                            text: "Please remove color changed fields and correct time period",
                        })
                    }, 2000)
                } else {
                    $(`#timeTableSlotsList tr:eq(${i})`).removeClass("bg-warning");
                    $(`#timeTableSlotsList tr:eq(${i + 1})`).removeClass("bg-warning");
                    $("#submit").show();
                }
            }
        }
    }

    function makeTableRow(index, value) {
        let tableRow = `<tr>
                        <td>
                            <span id="id${index}">${index + 1}</span>
                        </td>
                        <td>
                        <span id="bn${index}" class="w-auto">${value.batch_name}</span>
                            <input id="bi${index}" type="text" class="form-control"  name="timeTables[${index}].batch.id" value="${value.batch_id}" hidden required>
                        </td>
                        <td>
                       <span id="sn${index}" class="w-auto"> ${value.subject_name}</span>
                            <input id="si${index}" type="text" class="form-control" name="timeTables[${index}].subject.id" value="${value.subject_id}" hidden required>
                        </td>
                        <td>
                         <input id="ls${index}" type="text" class="form-control w-auto" name="timeTables[${index}].lesson" value="${value.lesson}" required>
                        </td>
                        <td>
                         <input id="sa${index}" type="datetime-local" class="form-control" name="timeTables[${index}].startAt" value="${value.start_at}" required readonly>
                        </td>
                        <td>
                         <input id="ea${index}" type="datetime-local" class="form-control" name="timeTables[${index}].endAt" value="${value.end_at}" required readonly>
                        </td>
                        <td class="w-auto">
                          <div class="custom-control custom-checkbox custom-control-inline " >
                            <input class="custom-control-input" required   id="${index}+ACTIVE" name="timeTables[${index}].liveDead" value="ACTIVE" type="radio" checked="checked"/>
                            <label class="custom-control-label"  for="${index}+ACTIVE" >Active </label >
                          </div>
                          <div class="custom-control custom-checkbox custom-control-inline " >
                            <input class="custom-control-input" required id="${index}+STOP" name="timeTables[${index}].liveDead" value="STOP" type="radio"/>
                            <label class="custom-control-label" for="${index}+STOP">Deactivate </label >
                          </div >
                        </td>
                        <td>
                         <input id="cm${index}" type="text" class="form-control class="w-auto"" name="timeTables[${index}].comment" value="" >
                        </td>
                        <td>
                            <button type="button" id="rm${index}" class="btn btn-outline-danger" onclick="tableRowRemove(this)">Remove</button>
                        </td>
                    </tr>`;

        return tableRow;
    }

    //table row remove
    function tableRowRemove(obj) {
        console.log("sadasdas")
        let itemIndex = obj.parentNode.parentNode.rowIndex;
        if (itemIndex > 1) {
            deleteTimeTable(itemIndex);
        }
        let removeRow = `#timeTableSlotsList tr:eq(${itemIndex})`
        $(removeRow).remove();
        if (itemIndex > 1) {
            tableRowAdd();
        }
    }

    function deleteTimeTable(val) {
        let id = val - 1;
        let timeTableSlot = {
            batch_id: $(`#bi${id}`).val(),
            batch_name: $(`#bn${id}`).html(),
            subject_id: $(`#si${id}`).val(),
            subject_name: $(`#sn${id}`).html(),
            lesson: $(`#ls${id}`).val(),
            start_at: $(`#ea${id}`).val(),
            end_at: $(`#sa${id}`).val(),
            activity: 'ACTIVE'
        };

        let newTimeTableSlots = [];
        for (let i = 0; i < timeTableSlots.length; i++) {
            if (!((timeTableSlots[i].subject_id === timeTableSlot.subject_id) && (timeTableSlots[i].batch_id === timeTableSlot.batch_id))) {

                let timeTableSlot = {
                    batch_id: timeTableSlots[i].batch_id,
                    batch_name: timeTableSlots[i].batch_name,
                    subject_id: timeTableSlots[i].subject_id,
                    subject_name: timeTableSlots[i].subject_name,
                    lesson: timeTableSlots[i].lesson,
                    start_at: timeTableSlots[i].start_at,
                    end_at: timeTableSlots[i].end_at,
                    activity: timeTableSlots[i].activity
                };
                newTimeTableSlots.push(timeTableSlot);
            }
        }
        timeTableSlots = newTimeTableSlots;
    }

</script >
</body >
</html >
